async-generator==1.10
attrs==21.4.0
bcrypt==3.2.0
bidict==0.21.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==7.1.2
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
docopt==0.6.2
Flask==1.1.4
Flask-Bcrypt==0.7.1
Flask-Ext==0.1
Flask-SocketIO==5.1.1
Flask-Sockets==0.2.1
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
outcome==1.1.0
pipreqs==0.4.11
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.27.1
selenium==4.1.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
trio==0.20.0
trio-websocket==0.9.2
urllib3==1.26.8
webdriver-manager==3.5.3
Werkzeug==1.0.1
wsproto==1.1.0
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.4.0
